SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=254f4e32e60fb1
SMTP_PASSWORD=1115e79921b529
EMAIL_FROM=

DB_CONNECTION=mysql+pymysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=soodandb
DB_USERNAME=soodan_app
DB_PASSWORD=pepe1234

SECRET_KEY=floop_1608_deray
ALGORITHM = HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30